{{- define "main" }}

<div class="hero-container" data-reactid="9">
  <div class="hero-title" data-reactid="10"><span id="hero-placeholder"></span><span>&nbsp;</span></div>
  <div class="hero-description" data-reactid="13">I work as a Software Engineer at Microsoft, currently working with the team building Flatcar Container Linux.</div>
</div>
<div class="about-container" data-reactid="14">
  <div class="terminal" data-reactid="15">
    <div class="terminal-header" data-reactid="16">
      <div class="header-button red" data-reactid="17"></div>
      <div class="header-button yellow" data-reactid="18"></div>
      <div class="header-button green" data-reactid="19"></div>
    </div>
    <div class="terminal-window" data-reactid="20">
      <div class="statement" data-reactid="22">
        <div class="input-statement" data-reactid="23">Sayan.currentLocation</div>
        <div class="return-statement" data-reactid="24">"Bangalore, India"</div>
      </div>
      <div class="statement" data-reactid="25">
        <div class="input-statement" data-reactid="26">Sayan.contactInfo</div>
        <div class="return-statement" data-reactid="27">["<a href="mailto:gmail@yudocaa.in">gmail@yudocaa.in</a>", "<a rel="noopener" href="https://www.linkedin.com/in/yudocaa">LinkedIn</a>", "<a rel="noopener" href="https://github.com/sayanchowdhury">github</a>"]</div>
      </div>
      <div class="statement" data-reactid="28">
        <div class="input-statement" data-reactid="29">Sayan.resume</div>
        <div class="return-statement" data-reactid="30">"<a rel="noopener" href="/sayanchowdhury.pdf" target="_blank">sayanchowdhury.pdf</a>"</div>
      </div>
      <div class="statement" data-reactid="31">
        <div class="input-statement" data-reactid="32">Sayan.interests</div>
        <div class="return-statement" data-reactid="33">["travelling", "photography", "sports", "cooking", "gaming", "doodling", "swimming"]</div>
      </div>
      <div class="statement" data-reactid="34">
        <div class="input-statement" data-reactid="35">Sayan.skills</div>
        <div class="return-statement" data-reactid="36">["Python", "Go", "Django", "Flask", "AWS", "Ansible", "Terraform", "JavaScript", "CSS", "webpack", "git"]</div>
      </div>
      <div class="statement" data-reactid="37">
        <div class="input-statement" data-reactid="38">Sayan.operatingSystem</div>
        <div class="return-statement" data-reactid="39">["Fedora", "Silverblue"]</div>
      </div>
      <div class="statement" data-reactid="40">
        <div class="input-statement" data-reactid="41"><span data-reactid="42">&nbsp;</span></div>
      </div>
    </div>
  </div>
</div>
<h2 id="contact" class="section-title" data-reactid="44">Contact me!</h2>
<div class="contact-links" data-reactid="45">
  <span data-reactid="46"><a rel="noopener" target="_blank" href="mailto:gmail@yudocaa.in" data-reactid="47">gmail@yudocaa.in</a></span>
  <span data-reactid="48"><a rel="noopener" target="_blank" href="https://www.twitter.com/yudocaa" data-reactid="49">twitter</a></span>
  <span data-reactid="50"><a rel="noopener" target="_blank" href="https://github.com/sayanchowdhury" data-reactid="51">github</a></span>
  <span data-reactid="52"><a rel="noopener" target="_blank" href="https://facebook.com/yudocaa" data-reactid="53">facebook</a></span>
</div>

{{- end }} {{- /* end main */ -}}
